/node_modules
/public/hot
/public/storage
/public/js/*
/public/css/*
/public/fonts/*
/public/images/*
/public/mix-manifest.json
/storage/*.key
/storage/tenant_*/app/public/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
rr
.rr.yaml

modules_statuses.json
modules_statuses_tenant.json
